<div class="container">

    <h1>Lista de usuarios</h1>
    <div class="my-5 d-flex justify-content-between">

        <div>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo Usuario
            </button>

        </div>

        <div>

            <button (click)="syncManual()" type="button" class="me-2 btn btn-primary">
                Sincronización Manual
            </button>

            <button (click)="sync ? destroyListener() : enableSync()" type="button" class="btn"
                [ngClass]="sync ? 'btn-danger' : 'btn-success'">
                {{sync ? 'Destruir Listener' : 'Activar Listener'}}
            </button>
        </div>






    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Correo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users?.data">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- El botón de agregar muestra este modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUser">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" id="name">

                    </div>
                    <div class="mb-3">
                        <label for="job" class="form-label">Profesión</label>
                        <input type="text" formControlName="job" class="form-control" id="job">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" (click)="saveUser()">Guardar Usuario</button>
            </div>
        </div>
    </div>
</div>